.ColorBox {
    height: 25%;
    width: 20%;
    position: relative;
    margin: 0 auto;
    display: inline-block;
    cursor: pointer;
    margin-bottom: -3.5px;
}

.SingleColorPalette .ColorBox {
    height: 50%
}

.ColorBox.go-back {
    background-color: black;
}

.copy-button,
.back-button {
    height: 30px;
    width: 100px;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -15px;
    text-align: center;
    outline: none; 
    background: rgb(255, 255, 255, 0.3);
    line-height: 30px;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
}

.copy-button {
    opacity: 0;
}

.copy-button:hover {
    cursor: pointer;
}

.ColorBox:hover .copy-button {
    opacity: 1;
    transition: 0.5s;
}

.box-content {
    position: absolute;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    color: black;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.light-text {
    color: white;
}

.ColorBox .dark-text {
    color: rgb(0,0,0,0.5);
}

.see-more {
    position: absolute;
    right: 0px; 
    bottom: 0px;
    background: rgb(255, 255, 255, 0.3);
    border: none;
    color: white;
    height: 30px;
    width: 60px;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
}

.copy-overlay {
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    transition: transform 0.6s ease-in-out;
    transform: scale(0.1);
}

.copy-overlay.show {
    opacity: 1;
    transform: scale(25);
    z-index: 5;
    position: absolute;
}

.copy-msg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    color: white;
    transform: scale(0.1);
    opacity: 0;
    text-transform: uppercase;
    background: rgb(255, 255, 255, 0.2);
}

.copy-msg.show {
    opacity: 1;
    transform: scale(1);
    z-index: 25;
    transition: all 0.4s ease-in-out;
    transition-delay: 0.3s;
}

.copy-msg h1 {
    font-weight: 400;
    text-shadow: 1px 2px black;
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    padding: 1rem;
}

.copy-msg p {
    text-transform: lowercase;
    font-size: 2rem;
    font-weight: 100;
}